* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: whitesmoke;
  text-shadow: 0px 0px 30px rgba(83, 163, 255, 0.692);
}
ol a {
  text-decoration: none;
  opacity: 0.5;
  transition: color 0.5s, text-shadow 0.5s, font-size 0.5s, opacity 0.2s;
}
ol a:hover {
  color: rgba(83, 163, 255, 0.849);
  text-shadow: 0px -2px 30px rgb(83, 163, 255);
  font-size: 120%;
  opacity: 1;
}
body {
  background-image: url("../Imagenes/FondoInicio.jpg");
  background-color: rgba(0, 0, 0, 0.719);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  position: relative;
}
.logo {
  display: inline-block;
  width: 5%;
  margin: -1% auto;
  vertical-align: bottom;
}
.logo img {
  width: 100%;
  height: auto;
}
header nav {
  background: #312e3783;
  padding: 0.5%;
  border-bottom: 2px solid #94b1f1;
  box-shadow: 0px 2px 30px rgba(83, 94, 255, 0.692);
  backdrop-filter: blur(5px);
}
header nav ol {
  text-align: right;
}
header nav li {
  margin: 0 2%;
  list-style: none;
  display: inline-block;
  text-align: center;
}
.Contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.Contenedor .Caja {
  position: relative;
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}
.Contenedor .Caja .Contenido {
  position: relative;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
  color: whitesmoke;
}
.Contenedor .Caja .Contenido img {
  height: 30%;
  width: 100%;
}
.Contenedor .Caja:hover .Contenido {
  transform: scale(1.1);
  border: 2px solid #94b1f1;
  box-shadow: 0 0px 30px #497ff3c0;
}
.Contenedor .Caja .Contenido p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.Contenedor .Caja .Contenido img {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
}
footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.5%;
  border-top: 2px solid #94b1f1;
  box-shadow: 0px -2px 30px rgba(83, 94, 255, 0.692);
  background: #312e3783;
  backdrop-filter: blur(5px);
}
footer li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
footer ol {
  text-align: center;
  display: inline-block;
  justify-content: space-between;
}
